# Force all .sh files to be Shell
*.sh linguist-language=shell

# Force all .R files to be R
*.R linguist-language=R
*.Rmd linguist-language=R

# If you have a specific folder that is confusing GitHub (like 'docs'), 
# tell it to ignore that folder for language stats:
data/* linguist-documentation
figures//* linguist-documentation
